@import '~@fortawesome/fontawesome-free/css/all.min.css';

:root {
  --bgColor: black;
  --fontColor: white;
}

body {
  background-color: var(--bgColor) !important;
}

.App {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
}